# Python Basics Assignment

### Question 1
Write a function to compute number of vowels in a string given as input

In [124]:
def vowels(a):
    a = input("Enter a string:")
    vowels = "aeiouAEIOU"
    count = 0
    for i in a:
        if i in vowels:
            count += 1
    return count
print(vowels("a"))

Enter a string:sooraj
3

### Question 2
Write a function that checks whether a number is prime.

In [14]:
# Your code here
def prime(a):
  if a <= 1:
    return False
  for i in range(2,int((a**0.5)+1)):
    if a % i == 0:
      return False
  return True
if(prime(5)):
  print("prime")
else:
  print("not prime")

prime

### Question 3
Write a function to return the maximum of two numbers.

In [15]:
# Your code here
def maximum(a,b):
  if a>b:
    return a
  else:
    return b
maximum(3,5)

5

### Question 4
Write a function to return the factorial of a number.

In [17]:
# Your code here
def factorial(n):
  fact=1
  for i in range (1,n+1):
    fact=fact*i
  return fact
factorial(5)

120

### Question 5
Write a function to reverse a string without string indexing.

In [24]:
def reverse(ab):
    reversed_str = ""
    for i in range(len(ab) - 1, -1, -1):
        reversed_str += ab[i]
    return reversed_str

fg = "haii"
print(reverse(fg))

iiah

### Question 6
Write a function to check if a string is a palindrome.

In [27]:
# Your code here
def palindrome(ab):
  if reverse(ab)==ab:
    return True
  else:
    return False

hj="malayalam"
palindrome(hj)

True

### Question 7
Write a function to count vowels in a string.

In [30]:
# Your code here
def vowel_cnt(ab):
  vowels="aeiouAEIOU"
  count=0
  for char in ab:
    if char in vowels:
      count+=1
  return count

vowel_cnt(hj)

4

### Question 8
Write a function that returns the sum of a list.

In [35]:

def sum_lst(ls):
  sum=0
  for i in ls:
    sum += i
  return sum
ab=[1,2,3,4,5]
sum_lst(ab)

15

### Question 9
Write a function to find the smallest number in a list.

In [40]:
def smallest_num(ls):
  smallest=ls[0]
  for i in ls:
    if i < smallest:
      smallest=i
  return smallest
ab=[1,2,3,4,5]
smallest_num(ab)

1

### Question 10
Write a function to remove duplicates from a list.

In [46]:
# Your code here
def duplicates(lst):
  lst1=[]
  for i in lst:
    if i not in lst1:
      lst1.append(i)
  return lst1
gi=[1,2,3,3,4,4,5]
duplicates(gi)

[1, 2, 3, 4, 5]

### Question 11
Write a function to sort a list in ascending order without using builtin sort function

In [48]:
def sorting_2(lst):
    n = len(lst)
    for i in range(n):
        for j in range(0, n - i - 1):
            if lst[j] > lst[j + 1]:
                temp = lst[j]
                lst[j] = lst[j + 1]
                lst[j + 1] = temp
    return lst
ab=[5,6,2,8,9,1]
sorting_2(ab)

[1, 2, 5, 6, 8, 9]

### Question 12
Write a function that returns the length of a string.

In [49]:
# Your code here
def length(string1):
    n=len(string1)
    return n
ab="haihello"
length(ab)

8

### Question 13
Write a function to count words in a sentence.

In [54]:
# Your code here
def count_words(str):
    str1=str.split(" ")
    return len(str1)
ab="there is a chance"
count_words(ab)

4

### Question 14
Write a function to convert Celsius to Fahrenheit.

In [55]:
# Your code here
def celsious(c):
  f=(c*9/5)+32
  return f
celsious(56)

132.8

### Question 15
Write a function to check if a number is palindrome.

In [60]:
# Your code here
def palind(num):
  act_num=num
  rev=0
  while(num>0):
    rem=num%10
    rev=rev*10+rem
    num=num//10
  if act_num==rev:
    return True
  else:
    return False
palind(121)

True

### Question 16
Write a function to return all even numbers in a list.

In [65]:
# Your code here
def even_list(lst):
  lst1=[]
  for i in lst:
    if i % 2 == 0:
      lst1.append(i)
  return lst1
ab=[1,2,3,4,5,6,7,8]
even_list(ab)

[2, 4, 6, 8]

### Question 17
Write a function to return the nth Fibonacci number.

In [69]:
def fibonacci(n):
    a, b = 0, 1
    for _ in range(n):
        print(a, end=" ")
        a, b = b, a + b

fibonacci(10)

0 1 1 2 3 5 8 13 21 34

### Question 18
Write a function to calculate the average of a list.

In [71]:
# Your code here
def average(lst):
  sum=0
  for i in lst:
    sum+=i
  return sum/len(lst)
ab=[1,2,3,4,5]
average(ab)

3.0

### Question 19
Write a function that returns a dictionary of character counts.

In [75]:
# Your code here
def char_count(string1):
  count={}
  for i in string1:
    if i in count:
      count[i]+=1
    else:
      count[i]=1
  return count

string6="hellooo"
char_count(string6)

{'h': 1, 'e': 1, 'l': 2, 'o': 3}

### Question 20
Write a function that returns True if all list elements are unique.

In [78]:
# Your code here
def unique(lst):
  lst1=[]
  for i in lst:
    if i not in lst1:
     lst1.append(i)
  if lst1==lst:
    return True
  else:
    return False
gh=[1,1,2,3,4]
unique(gh)

False

### Question 21
Write a function that returns dot product of two list of numbers

In [87]:
# Your code here
def dot_product(a,b):
  if len(a)!=len(b):
    return False
  else:
    sum=0
    for i in range (len(a)):
      sum+=a[i]*b[i]
  return sum

u=[1,2,3]
h=[3,4,5]
dot_product(u,h)

26

### Question 22
Write a function that returns the projection of vector a onto vector b. Both a and b are given as list of numbers

In [93]:
# Your code here
def mag(a):
  sum=0
  for i in a:
    sum+=i**2
  return sum**0.5
def proj(a,b):
  dot=dot_product(a,b)
  magn=mag(b)
  proj=dot/magn
  return proj

a=[5,7,8,3]
b=[1,2,9,4]
proj(a,b)

10.198519692659746

### Question 23
Write a function to return common elements between two lists.

In [98]:
# Your code here
def common(ls,ls1):
  lst1=[]
  for i in ls:
    if i in ls and i in ls1 and i not in lst1:
      lst1.append(i)
  return lst1
a=[1,2,3,4,5]
b=[9,7,8,9,5,1,2]
common(a,b)

[1, 2, 5]

### Question 24
Create a class Vector that supports addition, dot product, and magnitude.

In [117]:
from math import sqrt

class Vector:
    def __init__(self, *components):
        self.values = list(components)

    def __add__(self, other):
        return Vector(*[self.values[i] + other.values[i] for i in range(len(self.values))])

    def dot(self, other):
        return sum(self.values[i] * other.values[i] for i in range(len(self.values)))

    def magnitude(self):
        return sqrt(sum(i**2 for i in self.values))

    def _repr_(self):
        return f"Vector({self.values})"
usr_inpt1 = input("Enter the first list of numbers: ")  # e.g. 1 2 3
usr_inpt2 = input("Enter the second list of numbers: ") # e.g. 4 5 6

num1 = list(map(int, usr_inpt1.split()))
num2 = list(map(int, usr_inpt2.split()))

vector1 = Vector(*num1)
vector2 = Vector(*num2)

print("Addition:", vector1 + vector2)
print("Dot Product:", vector1.dot(vector2))
print("Magnitude of vector1:", vector1.magnitude())
print("Magnitude of vector2:", vector2.magnitude())

Enter the first list of numbers: 4 5 6
Enter the second list of numbers: 5 8 1
Addition: <__main__.Vector object at 0x7f6e9a1d7dd0>
Dot Product: 66
Magnitude of vector1: 8.774964387392123
Magnitude of vector2: 9.486832980505138

### Question 25
Implement a function to return all outliers in a list based on the IQR method.

In [110]:
def outlier_1(data):
    data = sorted(data)
    n = len(data)
    def median(lst):
        l = len(lst)
        mid = l // 2
        if l % 2 == 0:
            return (lst[mid - 1] + lst[mid]) / 2
        else:
            return lst[mid]
    mid = n // 2
    if n % 2 == 0:
        lower_half = data[:mid]
        upper_half = data[mid:]
    else:
        lower_half = data[:mid]
        upper_half = data[mid+1:]
    Q1 = median(lower_half)
    Q3 = median(upper_half)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = [x for x in data if x < lower_bound or x > upper_bound]
    return outliers

lst=[1, 2, 5, 7, 8, 10, 10, 10, 15, 18, 100]
outlier_1(lst)

[100]

### Question 26
Function with default arguments:
Create a function to compute variance with an option to use sample or population formula

In [113]:
def variance(lst, sample=True):
    n = len(lst)
    if n == 0 or (sample and n == 1):
        return None
    mean = sum(lst)/n
    for i in lst:
      squared_diffs=[(i - mean) ** 2]
    if sample:
        return sum(squared_diffs)/(n - 1)
    else:
        return sum(squared_diffs)/n
hj=[1,2,3,4,5]
variance(hj,False)

0.8

### Question 27
Create a list of squares of even numbers between 1 and 20 using list comprehension.

In [118]:
def even_sqr():
    a = [i**2 for i in range(1,21) if i % 2 == 0]
    return a
even_sqr()

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

### Question 28
Write a function that returns the L1 and L2 norms of a vector given as list

In [119]:
def norms():
  l1 = [1, 2, 3]
  l2 = [4, 5, 6]
  l1_norm = sum(abs(i) for i in l1)
  l2_norm = sum(i**2 for i in l2) ** 0.5
  return l1_norm, l2_norm
norms()

(6, 8.774964387392123)

### Question 29
Write a function that computes the 95% confidence interval for the mean of a list of numbers assuming normal distribution.

In [121]:
from statistics import stdev

def normal():
  n = [1, 2, 3, 4, 5]
  mean = sum(n) / len(n)
  std = stdev(n)
  z = 1.96
  lower_bound = mean - z * (std / (len(n) ** 0.5))
  upper_bound = mean + z * (std / (len(n) ** 0.5))
  return lower_bound
  return upper_bound
normal()

1.6140707088743669

### Question 30
Given a list of categorical values, create a frequency distribution dictionary.

In [123]:
def frequency_distribution(data):
    freq_dict = {}
    for item in data:
        if item in freq_dict:
            freq_dict[item] += 1
        else:
            freq_dict[item] = 1
    return freq_dict
colors = ['red', 'blue', 'red', 'green', 'blue', 'red']
print(frequency_distribution(colors))

{'red': 3, 'blue': 2, 'green': 1}